<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @article.title, @article.url, target: '_blank' %>
</p>
<ul> Comments
  <% @article.comments.order(submitted_at: :desc).each do |comment| %>
  <li><%= comment.content %></li>
  <% end %>
</ul>
<%= link_to "New Comment", new_article_comment_path(@article) %>
<br>
<%= link_to 'Back', articles_path %>
