<h2>Articles by  <%= @user.email %></h2>
<% @user.articles.each do |article| %>
  <article>
    <h3><%= link_to article.title, article_path(article) %>
  </article>
<% end %>

<h2>Articles Commented on by <%= @user.email %></h2>
<% @user.commented_articles.uniq.each do |article| %> 
  <article>
    <h3><%= link_to article.title, article_path(article) %>
  </article>
<% end %>

<p>
  <%= link_to 'All Users', users_path %>
</p>
